$fa-font-path: "../../libs/font-awesome/fonts";
@import "font-awesome";
@import "settings";
@import "foundation";
@include foundation-everything(true);

// utility classes

@each $name, $value in $foundation-palette {
  .text-#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background-color: $value;
  }
}

section > .row > h2 {
  margin-bottom: $global-margin * 2;
}

// fouc
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

// buttons
.button {
  text-transform: uppercase;
  font-weight: bold;
}

// headings
h2 {
  text-transform: uppercase;
}

// menu
.sticky {
  width: 100%;
  background-color: map-get($foundation-palette, primary);
  .small-12 {
    padding: 0;
  }
}
.top-navi {
  width: 100%;
  background-color: map-get($foundation-palette, primary);
  position: absolute;
  top: 0;
  z-index: 2;
}
.top-bar {
  padding: 0;
  width: 100%;
}
.top-bar, .top-bar ul, .top-bar .is-dropdown-submenu {
  background-color: map-get($foundation-palette, primary);
}
.top-bar .is-dropdown-submenu {
  border: none;
}
.top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $white transparent transparent;
}
.top-bar a {
  color: $white;
  &:hover {
    background-color: $anchor-color-hover;
  }
}
.top-bar-left {
  color: $white;
  font-weight: bold;
}
.top-bar .top-bar-left, .top-bar .top-bar-right { flex: none; }
.top-bar .horizontal.menu li:last-of-type {
  @include breakpoint(small only) {
    display: none;
  }
}
.top-bar .expanded.button {
  margin: 0 -0.5*map-get($grid-column-gutter, small);
  width: calc(100% + #{map-get($grid-column-gutter, small)});
}
@include breakpoint(small only) {
  .top-bar .horizontal.menu li {
    a {
      padding: 0.5rem 0.5rem;
    }
    &:nth-child(4) a {
      padding-right: 0;
    }
    &:first-of-type a {
      padding-left: 0;
    }
  }
}
.top-bar .menu li a, .top-bar .menu li a i {
  line-height:28px;
}

// hero
.hero {
  position: relative;
  color: $white;
  text-align: center;
  overflow: hidden;
  margin-top: rem-calc(90px);
  @include breakpoint(small only) {
    background-image: url('../../images/min/oak-tree.min.jpg');
    background-size: cover;
    background-position: top right;
    height: 300px;
  }
  @include breakpoint(medium) {
    max-height: 100vh;
    height: auto;
    margin-top: rem-calc(50px);
  }
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.6);
  }
  video {
    width: 100%;
    @include breakpoint(small only){
      display: none;
    }
  }
  .content {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
  .smaller-content{
    max-width: rem-calc(800px);
    margin: 0 auto;
  }
  h1 {
    font-size: rem-calc(16px);
    margin-bottom: $global-margin;
    @include breakpoint(medium) {
      font-size: rem-calc(60px);
      margin-bottom: $global-margin*2;
    }
    span {
      color: map-get($foundation-palette, accent);
    }
  }
  p {
    font-size: rem-calc(20px);
    margin-bottom: $global-margin*2;
    @include breakpoint(small only) {
      font-size: rem-calc(14px);
      margin-bottom: $global-margin;
    }
  }
  .button {
    @include breakpoint(small only){
      &:last-of-type, i { display: none; }
      font-weight: normal;
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  }
}

.technologies {
  background-color: map-get($foundation-palette, accent);
  padding: $global-padding*2 0;
  color: $white;
  i {
    font-size: 3rem;
    margin-bottom: $global-margin/2;
    display: block;
    @include breakpoint(medium) {
      font-size: 4rem;
    }
    @include breakpoint(large) {
      font-size: 6rem;
    }
    + div {
      font-size: 0.8rem;
      margin-bottom: $global-margin;
      @include breakpoint(medium) {
        font-size: 1rem;
      }
    }
  }
}

.libraries {
  background-color: $dark-gray;
  padding: $global-padding $global-padding $global-padding - $global-margin $global-padding;
  color: $white;
  i {
    font-size: 1rem;
    margin-bottom: $global-margin/2;
    display: block;
    @include breakpoint(medium) {
      font-size: 2rem;
    }
    + div {
      font-size: 0.8rem;
      margin-bottom: $global-margin;
    }
  }
}

.portfolio {
  padding: $global-margin*4 0 $global-margin;
  .text-center {
    margin-bottom: $global-margin*3;
  }
  img {
    margin-bottom: $global-margin;
  }
  .slick-dots li button {
    background-color: $dark-gray;
  }
  .slick-dots li.slick-active button::before {
    background-color: map-get($foundation-palette, primary);
  }
}

// services
.services {
  padding: $global-margin*4 0 $global-margin*2 0;
  background-image: url('../../images/min/php-code.min.jpg');
  background-size: cover;
  color: $white;
  text-align: center;
  position: relative;
  i.fa {
    font-size: 6rem;
    margin-bottom: $global-margin;
  }
  h2 {
    position: relative;
  }
  .medium-6 {
    margin-bottom: $global-margin*2;
    position: relative;
  }
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.8);
  }
}

// testimonials
.testimonials {
  padding: $global-margin*4 0 $global-margin*2;
  background-color: map-get($foundation-palette, accent);
  color: $white;
  cite {
    text-align: center;
    color: $white;
    font-style: normal;
    font-weight: bold;
    font-size: $global-font-size;
    &::before {
      content: "";
    }
    img {
      display: inline-block;
      margin-bottom: $global-margin/2;
      border-radius: 100%;
      width: 124px;
    }
    span {
      display: block;
      margin-bottom: $global-margin;
    }
  }
  blockquote {
    border-left: rem-calc(4px) solid $white;
    padding: 0 0 0 1rem;
    margin: 0 0 $global-margin*2 0;
    color: $white;
  }
}

// footer
.footer {
  padding: $global-margin*4 0;
  background-color: map-get($foundation-palette, primary);
  color: $white;
  h2 {
    margin-bottom: $global-margin * 2;
  }
  label {
    color: $white;
  }
  .button {
    margin: $global-margin 0 0 0;
  }
}

.copyright {
  background-color:$dark-gray;
  color: $white;
  padding: $global-padding 0;
}