<footer class="copyright">
    <div class="row column">
        <small>&copy; 2016 all rights reserved. <a href="#">Privacy Policy</a> - <a href="#">Terms and Conditions</a></small>
    </div>
</footer>