<footer class="footer">
    <div class="row column">
        <h2>How Can I help?</h2>
        <form action="#">
            <div class="row">
                <div class="small-12 medium-8 large-6 columns">
                    <div class="row">
                        <div class="small-6 columns">
                            <label for="">
                                Name
                                <input type="text" />
                            </label>
                        </div>
                        <div class="small-6 columns">
                            <label for="">
                                Company
                                <input type="text" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns">
                            <label for="">
                                Email
                                <input type="text" />
                            </label>
                        </div>
                        <div class="small-6 columns">
                            <label for="">
                                Phone
                                <input type="text" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns">
                            <label for="">
                                Service
                                <select name="">
                                    <option value="">Web Development</option>
                                    <option value="">Application Development</option>
                                    <option value="">API Integration</option>
                                    <option value="">Consulting</option>
                                </select>
                            </label>
                        </div>
                        <div class="small-6 columns">
                            <label for="">
                                Timeline
                                <input type="date" />
                            </label>
                        </div>
                    </div>
                    <label for="">
                        Budget
                        <select name="">
                            <option value="">$2,000 or less</option>
                            <option value="">$2,000 - $5,000</option>
                            <option value="">$5,000 - $10,000</option>
                            <option value="">$10,000 - $25,000</option>
                            <option value="">$25,000 - $50,000</option>
                            <option value="">$50,000 or more</option>
                        </select>
                    </label>
                    <label for="">
                        Attach a file?
                        <input type="file">
                    </label>
                </div>
                <div class="small-12 medium-4 large-6 columns">
                    <label for="">
                        Details
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </label>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="get started" class="accent button">
            </div>
        </form>
    </div>
</footer>