<section class="hero">
    <video data-src="{{ asset('video/oak-tree-high.mp4') }}" poster="{{ asset('images/min/oak-tree.min.jpg') }}" muted autoplay loop></video>
    <div class="content">
        <div class="row">
            <div class="columns">
                <h1>
                    I'm a <span>Web Applications Developer</span><br />
                    Located in Portland Oregon
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <div class="smaller-content">
                    <p>
                        I bring together the latest techniques and technologies with over 5 years of experience
                        building cutting edge websites and web applications.
                    </p>
                    <div class="expanded button-group">
                        <a href="tel:5032124131" class="button" target="_blank"><i class="fa fa-phone"></i> Call</a>
                        <a href="sms:3607730963" class="button" target="_blank"><i class="fa fa-mobile"></i> Text</a>
                        <a href="mailto:rparker@yamiko.ninja" class="button" target="_blank"><i class="fa fa-envelope"></i> Email</a>
                        <a class="accent button estimate-scroll">Hire Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>