<section class="services">
    <div class="row">
        <div class="columns">
            <h2>Services</h2>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 columns">
            <table class="pricing-table">
                <thead class="bg-secondary">
                <tr>
                    <th class="plan">Onyx</th>
                </tr>
                <tr>
                    <td class="description">
                        Great for keeping blogs and smaller websites up to date and secure.
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr class="price">
                    <td>
                        $250
                        <a href="" class="secondary button">Sign Up</a>
                    </td>
                </tr>
                <tr>
                    <td>Website Backups</td>
                </tr>
                <tr>
                    <td>Core Updates</td>
                </tr>
                <tr>
                    <td>Theme/Plugin Updates</td>
                </tr>
                <tr>
                    <td>2 Hours of Development</td>
                </tr>
                <tr>
                    <td>3-5 Day Response Time</td>
                </tr>
                <tr>
                    <td>CloudFlare CDN</td>
                </tr>
                <tr>
                    <td>Google Analytics</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="medium-4 columns">
            <table class="pricing-table">
                <thead class="bg-primary">
                <tr>
                    <th class="plan">Jade</th>
                </tr>
                <tr>
                    <td class="description">
                        Great for small businesses that need occasional updates.
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr class="price">
                    <td>
                        $500
                        <a href="" class="primary button">Sign Up</a>
                    </td>
                </tr>
                <tr>
                    <td>Website Backups</td>
                </tr>
                <tr>
                    <td>Bi-weekly Core Updates</td>
                </tr>
                <tr>
                    <td>Bi-weekly Theme/Plugin Updates</td>
                </tr>
                <tr>
                    <td>4 Hours of Development</td>
                </tr>
                <tr>
                    <td>2-4 Day Response Time</td>
                </tr>
                <tr>
                    <td>CloudFlare CDN</td>
                </tr>
                <tr>
                    <td>Google Analytics</td>
                </tr>
                <tr>
                    <td>%5 discount on additional work</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="medium-4 columns">
            <table class="pricing-table">
                <thead class="bg-accent">
                <tr>
                    <th class="plan">Ruby</th>
                </tr>
                <tr>
                    <td class="description">
                        Stay ahead of your competitors with frequent updates.
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr class="price">
                    <td>
                        $1,000
                        <a href="" class="accent button">Sign Up</a>
                    </td>
                </tr>
                <tr>
                    <td>Website Backups</td>
                </tr>
                <tr>
                    <td>Weekly Core Updates</td>
                </tr>
                <tr>
                    <td>Weekly Theme/Plugin Updates</td>
                </tr>
                <tr>
                    <td>10 Hours of Development</td>
                </tr>
                <tr>
                    <td>1-2 Day Response Time</td>
                </tr>
                <tr>
                    <td>CloudFlare Pro CDN</td>
                </tr>
                <tr>
                    <td>Google Analytics</td>
                </tr>
                <tr>
                    <td>%10 discount on additional work</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <h4>Sign up for a year and get $100 of AdWords, $100 of plugins, and Free Hosting.</h4>
        </div>
    </div>
</section>

{#
https://www.curiousm.com/landing/wordpress/wordpress-maintenance/?_vsrefdom=GAW&gclid=COXLtOju39MCFUuNfgodB1sJiA
https://bassmediagroup.co.uk/?gclid=CNOZsunu39MCFUpNfgod0XUMAA
https://wptangerine.com/?gclid=CIaS5efu39MCFUpNfgodBU0MmA
https://www.kylerumble.com/
#}