<section class="services">
    <div class="row">
        <div class="columns">
            <h2>Services</h2>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 columns">
            <table class="pricing-table">
                <thead class="bg-secondary">
                <tr>
                    <th class="plan">Onyx</th>
                </tr>
                <tr>
                    <td class="description">
                        Great for keeping blogs and smaller websites up to date and secure.
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr class="price">
                    <td>
                        $300
                        <a href="" class="secondary button">Sign Up</a>
                    </td>
                </tr>
                <tr>
                    <td>Website Backups</td>
                </tr>
                <tr>
                    <td>Core Updates</td>
                </tr>
                <tr>
                    <td>Theme/Plugin Updates</td>
                </tr>
                <tr>
                    <td>2 Hours of Development</td>
                </tr>
                <tr>
                    <td>3-5 Day Response Time</td>
                </tr>
                <tr>
                    <td>CloudFlare CDN</td>
                </tr>
                <tr>
                    <td>Google Analytics</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="medium-4 columns">
            <table class="pricing-table">
                <thead class="bg-primary">
                <tr>
                    <th class="plan">Jade</th>
                </tr>
                <tr>
                    <td class="description">
                        Great for small businesses that need occasional updates.
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr class="price">
                    <td>
                        $600
                        <a href="" class="primary button">Sign Up</a>
                    </td>
                </tr>
                <tr>
                    <td>Website Backups</td>
                </tr>
                <tr>
                    <td>Bi-weekly Core Updates</td>
                </tr>
                <tr>
                    <td>Bi-weekly Theme/Plugin Updates</td>
                </tr>
                <tr>
                    <td>4 Hours of Development</td>
                </tr>
                <tr>
                    <td>2-4 Day Response Time</td>
                </tr>
                <tr>
                    <td>CloudFlare CDN</td>
                </tr>
                <tr>
                    <td>Google Analytics</td>
                </tr>
                <tr>
                    <td>%5 discount on additional work</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="medium-4 columns">
            <table class="pricing-table">
                <thead class="bg-accent">
                <tr>
                    <th class="plan">Ruby</th>
                </tr>
                <tr>
                    <td class="description">
                        Stay ahead of your competitors with frequent updates.
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr class="price">
                    <td>
                        $1,200
                        <a href="" class="accent button">Sign Up</a>
                    </td>
                </tr>
                <tr>
                    <td>Website Backups</td>
                </tr>
                <tr>
                    <td>Weekly Core Updates</td>
                </tr>
                <tr>
                    <td>Weekly Theme/Plugin Updates</td>
                </tr>
                <tr>
                    <td>10 Hours of Development</td>
                </tr>
                <tr>
                    <td>1-3 Day Response Time</td>
                </tr>
                <tr>
                    <td>CloudFlare Pro CDN</td>
                </tr>
                <tr>
                    <td>Google Analytics</td>
                </tr>
                <tr>
                    <td>%10 discount on additional work</td>
                </tr>
                <tr>
                    <td>$100 of Free Plugins/year</td>
                </tr>
                <tr>
                    <td>$100 of Google AdWords/year</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>