<section class="technologies">
    <div class="row text-center">
        <div class="columns">
            <h2>Technologies </h2>
        </div>
    </div>
    <div class="row text-center align-center">
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-git-plain"></i>
            <div>Git</div>
        </div>
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-css3-plain"></i>
            <div>HTML5/CSS3</div>
        </div>
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-javascript-plain"></i>
            <div>Javascript</div>
        </div>
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-csharp-plain"></i>
            <div>C#</div>
        </div>
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-php-plain"></i>
            <div>PHP</div>
        </div>
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-mysql-plain"></i>
            <div>MySQL</div>
        </div>
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-redhat-plain"></i>
            <div>Red Hat</div>
        </div>
    </div>
</section>
<section class="libraries">
    <div class="row text-center align-center">
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-symfony-plain"></i>
            <div>Symfony</div>
        </div>
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-wordpress-plain"></i>
            <div>WordPress</div>
        </div>
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-drupal-plain"></i>
            <div>Drupal</div>
        </div>
        <div class="small-4 medium-3 large-expand columns">
            <i class="devicon-dot-net-plain"></i>
            <div>ASP.net</div>
        </div>
    </div>
</section>