<section class="testimonials">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <cite>
                <img src="{{ asset('images/min/headshot-mark.min.jpg') }}" alt="" />
                <span>Mark Westcott</span>
            </cite>
            <blockquote>
                My teaching career was at a standstill due to a long cancer battle.
                Robert created a beautiful website which
                almost immediately reignited interest in my performing and teaching reputation.
                I now receive numerous inquiries about my teaching and other activities and I am as busy as my schedule permits.
            </blockquote>
        </div>
        <div class="small-12 medium-6 columns">
            <cite>
                <img src="{{ asset('images/min/headshot-susana.min.jpg') }}" alt="" />
                <span>Susana Serna</span>
            </cite>
            <blockquote>
                Robert does excellent work in a timely manner.
                Since they updated my clinic's web page,
                more patients have called to make appointments and mentioned the web page.
            </blockquote>
        </div>
    </div>
</section>