<section class="testimonials">
    <div class="row align-center">
        <div class="small-12 medium-6 columns">
            <cite>
                <img src="{{ asset('images/min/headshot-mark.min.jpg') }}" alt="" />
                <span>Mark Westcott</span>
            </cite>
            <blockquote>
                My teaching career was at a standstill due to a long cancer battle.
                Robert created a beautiful website which
                almost immediately reignited interest in my performing and teaching reputation.
                I now receive numerous inquiries about my teaching and other activities and I am as busy as my schedule permits.
            </blockquote>
        </div>
        <div class="small-12 medium-6 columns">
            <cite>
                <img src="{{ asset('images/min/headshot-susana.min.jpg') }}" alt="" />
                <span>Susana Serna</span>
            </cite>
            <blockquote>
                Robert does excellent work in a timely manner.
                Since they updated my clinic's web page,
                more patients have called to make appointments and mentioned the web page.
            </blockquote>
        </div>
        <div class="small-12 medium-6 columns">
            <cite>
                <img src="{{ asset('images/min/headshot-mike.min.jpg') }}" alt="" />
                <span>Mike</span>
            </cite>
            <blockquote>
                It has been a pleasure to work with Robert.
                He's passionate, communicates very well, responsive, and honest.
                His desire to improve and get better is a result of his passion and I love guys like that.
                He documents well, has good constructive feedback, and is always looking for improvements in the process.
                I believe he has a very bright future ahead.
            </blockquote>
        </div>
    </div>
</section>